/**
 * 银行卡列表css样式
 */
body {
  background: #f6f6f6;
}
.warpper {
  background: #f6f6f6;
  height: auto;
}
.bormo_banner {
  width: 100%;
  height: 3.6rem;
  background-size: 100%;
}
.auth_div04 {
  width: 6.74rem;
  height: 1rem;
  border: 0.02rem solid #bbbbbb;
  font-size: 0.28rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.9rem;
}
.bormo_jine {
  padding-left: 0.38rem;
  font-size: 0.28rem;
  line-height: 0.4rem;
  color: #000000;
}
.page-header {
  width: 100%;
  height: 0.9rem;
  border-bottom: 2px solid #ededed;
  background: #fff;
}
.page-header .page-back {
  width: 0.9rem;
  height: 0.9rem;
  display: block;
  background: url(../img/back_icon.png) no-repeat;
  background-size: 100%;
  float: left;
}
.page-header .page-title {
  font-size: 0.29rem;
  color: #656566;
  line-height: 0.94rem;
  float: left;
}
.page-header .page-submit {
  width: 1.24rem;
  height: 0.54rem;
  line-height: 0.54rem;
  text-align: center;
  font-size: 0.28rem;
  float: right;
  background: #5897f6;
  color: #fff;
  margin: 0.18rem 0.54rem 0.18rem 0;
  border-radius: 0.05rem;
  cursor: pointer;
}
.banklistul {
  width: 100%;
  clear: both;
  background: #fff;
}
.banklist {
  width: 100%;
  height: 1.55rem;
  border-bottom: 2px solid #f9f9f9;
}
.banklistimg1 {
  width: 1.11rem;
  height: 0.99rem;
  display: block;
  float: left;
  margin-top: 0.35rem;
  margin-left: 0.33rem;
}
.banklistmsz {
  float: left;
  padding-left: 0.3rem;
  padding-top: 0.5rem;
}
.banklistms02 {
  font-size: 0.28rem;
  color: #606060;
}
.banklistms03 {
  font-size: 0.27rem;
  color: #a3a3a3;
}
.bankcheck {
  float: right;
  display: block;
  margin-right: 0.46rem;
  margin-top: 0.5rem;
}
.bankadd {
  width: 100%;
  background: #fff;
  height: 0.79rem;
  margin-top: 0.17rem;
  line-height: 0.79rem;
}
.bankaddweizhi {
  width: 2.4rem;
  margin: 0 auto;
}
.bankaddimg01 {
  width: 0.46rem;
  height: 0.44rem;
  display: block;
  float: left;
  margin-top: 0.16rem;
}
.bankaddwz1 {
  float: left;
  font-size: 0.28rem;
  line-height: 0.79rem;
  padding-left: 0.2rem;
}
.auth_button01 {
  width: 6.43rem;
  height: 0.77rem;
  text-align: center;
  line-height: 0.77rem;
  background: #ff8427;
  margin: 0 auto;
  margin-top: 1.5rem;
  font-size: 0.29rem;
  color: #fff;
}
.gouxuan {
  width: 0.34rem;
  height: 0.34rem;
  background: url(../img/banklist03-1.png);
  background-size: 100%;
  float: right;
  margin-top: 0.7rem;
  margin-right: 0.52rem;
}
.page-button {
  width: 6.44rem;
  height: 0.78rem;
  line-height: 0.78rem;
  background: #dcdcdc;
  text-align: center;
  color: #969696;
  margin: 0 auto;
  margin-top: 0.5rem;
  border-radius: 0.1rem;
  font-size: 0.3rem;
  cursor: pointer;
}
.activebank {
  background-position: 0 0.34rem;
}
.yuanbank {
  background-position: 0 0;
}
.activejie {
  background: #fe8e3a;
  color: #fff;
}
