/**
 * 登录注册页css样式
 */
.container {
  width: 100%;
  margin: 0 auto;
}
.page-logo {
  width: 100%;
}
.page-profit {
  width: 100%;
  height: 1.46rem;
  background: #fff;
}
.page-profit .profit-list {
  width: 1.2rem;
  height: 1.46rem;
  float: left;
  margin: 0 0 0 1rem;
  text-align: center;
}
.page-profit .profit-list span {
  display: block;
  margin: 0 auto;
}
.page-profit .profit-list .yjsx-icon {
  width: 0.52rem;
  height: 0.64rem;
  background: url('../img/icon_yjsx.png') no-repeat center;
  background-size: 100%;
}
.page-profit .profit-list .kssq-icon {
  width: 0.56rem;
  height: 0.64rem;
  background: url('../img/icon_kssq.png') no-repeat center;
  background-size: 100%;
}
.page-profit .profit-list .cdll-icon {
  width: 0.64rem;
  height: 0.64rem;
  background: url('../img/icon_cdll.png') no-repeat center;
  background-size: 100%;
}
.page-profit .profit-list em {
  height: 0.4rem;
  line-height: 0.4rem;
  display: block;
  font-size: 0.24rem;
  color: #656566;
}
.page-form {
  width: 100%;
  margin-top: 0.2rem;
  background: #fff;
}
.page-form .form-group {
  width: 6.44rem;
  margin: 0 auto;
  margin-bottom: 0.32rem;
}
.page-form .form-group input {
  width: 3rem;
  height: 0.45rem;
  line-height: 0.45rem;
  border: none;
  outline: 0;
  font-size: 0.3rem;
  color: #656566;
}
.page-form .form-group .phone-group {
  width: 6rem;
  height: 0.46rem;
  padding: 0.2rem;
  border: 1px solid #BBBBBB;
  margin: 0 auto;
  border-radius: 0.05rem;
}
.page-form .form-group .phone-group .iphone-icon {
  width: 0.33rem;
  height: 0.45rem;
  background: url('../img/icon_phone.png') no-repeat center;
  background-size: 100%;
  float: left;
  margin-right: 0.46rem;
}
.page-form .form-group .code-group {
  width: 3.98rem;
  height: 0.46rem;
  padding: 0.2rem;
  border: 1px solid #BBBBBB;
  border-radius: 0.05rem;
  float: left;
}
.page-form .form-group .code-group .msg-icon {
  width: 0.46rem;
  height: 0.33rem;
  background: url('../img/icon_msg.png') no-repeat center;
  background-size: 100%;
  float: left;
  margin-right: 0.33rem;
  margin-top: 0.06rem;
}
.page-form .form-group .form-code {
  width: 1.8rem;
  height: 0.9rem;
  line-height: 0.9rem;
  display: inline-block;
  color: #fff;
  text-align: center;
  border-radius: 0.05rem;
  vertical-align: bottom;
  background: #ff913d;
  margin-left: 0.2rem;
  font-size: 0.28rem;
  cursor: pointer;
}
.page-form .form-group .form-code.active {
  background: #c9c9c9;
  color: #FFFFFF;
}
.page-form .login-button {
  width: 6.44rem;
  height: 0.78rem;
  line-height: 0.78rem;
  background: #ff913d;
  text-align: center;
  color: #fff;
  margin: 0 auto;
  margin-top: 0.6rem;
  border-radius: 0.1rem;
  font-size: 0.3rem;
  cursor: pointer;
  display: block;
  border: none;
}
.page-form .form-agree {
  width: 100%;
  text-align: center;
  margin-top: 0.22rem;
}
.page-form .form-agree #checked {
  display: none;
}
.page-form .form-agree #checked + label:before {
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  background: url(../img/checkbox.png);
  background-size: 100%;
  border: none;
  display: inline-block;
  margin-right: 0.1rem;
  vertical-align: -0.06rem;
  background-position: 0 0.3rem;
}
.page-form .form-agree #checked:checked + label:before {
  content: '';
  width: 0.3rem;
  height: 0.3rem;
  display: inline-block;
  background: url(../img/checkbox.png);
  background-size: 100%;
  vertical-align: -0.06rem;
  background-position: 0 0;
}
.page-form .form-agree .select-text {
  color: #656566;
  font-size: 0.24rem;
}
.page-form .form-agree a {
  color: #ff913d;
  font-size: 0.24rem;
}
.footer {
  width: 100%;
  text-align: center;
  position: absolute;
  bottom: 0.35rem;
}
.footer p {
  height: 0.5rem;
  line-height: 0.5rem;
  color: #9b9b9b;
  font-size: 0.22rem;
}
