/**
 * 签名版css样式
 */
.warpper {
  background: #fff;
}
.page-header {
  width: 100%;
  height: 0.9rem;
  background: #fff;
  border-bottom: 2px solid #ededed;
}
.page-header .page-back {
  width: 0.9rem;
  height: 0.9rem;
  display: block;
  background: url(../img/back_icon.png) no-repeat;
  background-size: 100%;
  float: left;
}
.page-header .page-title {
  font-size: 0.29rem;
  color: #656566;
  line-height: 0.94rem;
  float: left;
}
.page-header .page-submit {
  width: 1.24rem;
  height: 0.54rem;
  line-height: 0.54rem;
  text-align: center;
  font-size: 0.28rem;
  float: right;
  color: #656566;
  margin: 0.18rem 0.54rem 0.18rem 0;
  border-radius: 0.05rem;
  cursor: pointer;
}
.page-main {
  width: 100%;
}
.page-main .page-banner {
  width: 100%;
  background: #f9a555;
  height: 2.54rem;
}
.page-main .page-banner p {
  padding-top: 0.85rem;
  text-align: center;
  color: #fff;
  font-size: 0.36rem;
}
.page-main .page-board {
  width: 6.44rem;
  height: 6.44rem;
  position: absolute;
  left: 50%;
  margin-left: -3.22rem;
  background: url(../img/board.png) no-repeat center;
  z-index: 99;
  top: 2.6rem;
  background-size: 100%;
}
.page-main .page-agree {
  width: 100%;
  position: absolute;
  bottom: 2.6rem;
  text-align: center;
  color: #656566;
  font-size: 0.26rem;
}
.page-main .page-agree span {
  background: url(../img/gou.png) no-repeat center;
  background-size: 100%;
  width: 0.26rem;
  height: 0.26rem;
  display: inline-block;
  margin-right: 0.12rem;
  margin-top: -0.02rem;
}
.page-main .page-button {
  width: 6.44rem;
  height: 0.78rem;
  line-height: 0.78rem;
  background: #ff913d;
  text-align: center;
  color: #fff;
  border-radius: 0.1rem;
  font-size: 0.3rem;
  position: absolute;
  bottom: 1.28rem;
  left: 50%;
  margin-left: -3.22rem;
  cursor: pointer;
}
