/**
 * 个人中心css样式
 */
@bili:100rem;

.warpper{
    background: #f6f6f6;
}
.page-header{
    background: url(../img/page_bg.jpg) no-repeat center;
    width: 100%;
    height: 330/@bili;
    background-size: 100%;
    .user-info{
        width: 200/@bili;
        height: 270/@bili;
        margin: 0 auto;
        color: #fff;
        text-align: center;
        font-size: 30/@bili;
        padding-top: 60/@bili;
        .avatar-bg{
            background: url('../img/avatar_bg.png') no-repeat center;
            background-size: 100%;
            width: 148/@bili;
            height: 148/@bili;
            margin: 0 auto;
        }
        .user-avatar{
            width: 128/@bili;
            height: 128/@bili;
            margin: 0 auto;
            padding-top: 10/@bili;
        }
        .user-name{
             margin-top: 20/@bili;
        }
    }
}

.page-link{
    background: #fff; 
    padding: 0 54/@bili;
    height: 88/@bili;
    line-height: 88/@bili;
//  border-bottom: 1px solid #dddddd;
    color: #878787;
    font-size: 30/@bili;
    margin-bottom: 20/@bili;
    .about-icon{
        display: inline-block;
        background: url(../img/about.png) no-repeat center;
        width: 70/@bili;
        height: 88/@bili;
        background-size: 100%;
        float: left;
    }
    .problem-icon{
        display: inline-block;
        background: url(../img/problem.png) no-repeat center;
        width: 70/@bili;
        height: 88/@bili;
        background-size: 100%;
        float: left;
    }
    .advice-icon{
        display: inline-block;
        background: url(../img/advice.png) no-repeat center;
        width: 70/@bili;
        height: 88/@bili;
        background-size: 100%;
        float: left;
    }
    .advice-msg{
        float: right;
    }
    .msg-icon{
        background: #f96650;
        color: #fff;
        padding: 0 20/@bili;
        border-radius: 48%;
        margin-right: 20/@bili;
    }
    .i-icon{
        width: 14/@bili;
        height: 22/@bili;
        display: block;
        background: url(../img/authcenter02.png) no-repeat;
        background-size: 100%;
        float: right;
        margin-right: 10/@bili;
        margin-top: 35/@bili;
    }
}
.page-button{
    width: 644/@bili;
    height: 78/@bili;
    line-height: 78/@bili;
    background: #ff913d;
    text-align: center;
    color: #fff;
    border-radius: 10/@bili;
    font-size: 30/@bili;
    cursor: pointer;
    display: block;
    border: none;
    position: absolute;
    bottom: 140/@bili;
    left: 50%;
    margin-left: -322/@bili;
}