/**
 * 签订合同css样式
 */
.warpper {
  background: #fff;
  height: auto;
}
.bormo_banner {
  width: 100%;
  height: 3.6rem;
  background-size: 100%;
}
.auth_div04 {
  width: 6.74rem;
  height: 1rem;
  border: 0.02rem solid #bbbbbb;
  font-size: 0.28rem;
  line-height: 1rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 0.9rem;
}
.bormo_jine {
  padding-left: 0.38rem;
  font-size: 0.28rem;
  line-height: 0.4rem;
  color: #000000;
}
.page-header {
  width: 100%;
  height: 0.9rem;
  border-bottom: 2px solid #ededed;
  background: #fff;
}
.page-header .page-back {
  width: 0.9rem;
  height: 0.9rem;
  display: block;
  background: url(../img/back_icon.png) no-repeat;
  background-size: 100%;
  float: left;
}
.page-header .page-title {
  font-size: 0.29rem;
  color: #656566;
  line-height: 0.94rem;
  float: left;
}
.hetong {
  margin-left: 0.375rem;
  margin-right: 0.375rem;
}
.hetongimg1 {
  width: 3.04rem;
  height: 0.95rem;
  display: block;
  margin-left: 0.165rem;
  margin-top: 0.24rem;
}
.hetong01 {
  color: #000;
  font-size: 0.3rem;
  text-align: center;
  margin-top: 0.45rem;
}
.hetong02 {
  color: #000;
  font-size: 0.24rem;
  padding-bottom: 0.15rem;
}
.mart40 {
  margin-top: 0.4rem;
}
.hetong_p1 {
  width: 3.67rem;
  float: left;
}
.hetong_p2 {
  float: left;
}
.hetong03 {
  line-height: 0.8rem;
  color: #414141;
  font-size: 0.24rem;
  clear: both;
}
.hetong04 {
  line-height: 0.8rem;
  color: #000;
  font-size: 0.24rem;
  clear: both;
}
.mat60 {
  margin-top: 0.6rem;
}
.martb30 {
  margin-top: 0.3rem;
  margin-bottom: 0.3rem;
}
.hetong_p3 {
  float: left;
  width: 3.18rem;
}
.hetong_p4 {
  float: left;
  width: 0.92rem;
}
.marb40 {
  margin-bottom: 0.4rem;
}
